.buy-sell {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  background-color: #202f45;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 15px;

  .buy, .sell {
    margin-bottom: 0;

    span {
      display: block;
      text-align: center;
      font-size: 20px;

      &.updated {
        animation: updated 250ms ease-in-out;
      }
    }
  }

  .buy {
    b {
      color: #3fcfb4;
    }
  }

  .sell {
    b {
      color: #fd2a47;
    }
  }
}


@keyframes updated {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}
